.home {
  background-color: var(--bg-third);
  padding: 5% 10%;
  display: grid;
  grid-template-rows: 350px 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "bio bio skills skills"
    "portfolio portfolio portfolio contact";
}

/* BIO SECTION */

.bio {
  grid-area: bio;
  background-color: var(--bg-main);
  margin: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5%;
  font-size: 16px;
}

.bio:hover {
  background-color: var(--bg-second-hover);
}

.bio h1 {
  font-size: 54px;
}

.bio h3 {
  font-size: 30px;
  padding-bottom: 2%;
}

/* SKILLS SECTION */

.skills {
  grid-area: skills;
  background-color: var(--bg-main);
  margin: 0;
  text-align: center;
  padding: 5%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title"
    "html css react python";
}

#title {
  grid-area: title;
  padding-top: 5%;
}

#html {
  grid-area: html;
  color: orangered;
}

#css {
  grid-area: css;
  color: blue;
}

#react {
  grid-area: react;
  color: rgb(0, 202, 202);
}

#python {
  grid-area: python;
  color: cadetblue;
}

.skills i {
  font-size: 100px;
}

.skills:hover {
  background-color: var(--bg-second-hover);
}

/* PORTFOLIO SECTION */

.portfolio {
  grid-area: portfolio;
  background-color: var(--bg-main);
  margin: 3% 3% 0 0;
}

.portfolio:hover {
  background-color: var(--bg-second-hover);
}

/* CONTACT SECTION */

.contact {
  grid-area: contact;
  background-color: var(--bg-main);
  margin: 10% 0 0 0;
}

.contact:hover {
  background-color: var(--bg-second-hover);
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
  .home {
    padding: 5% 10%;
    display: grid;
    grid-template-rows: 250px 500px 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "bio skills"
      "portfolio portfolio"
      "contact contact";
  }

  .bio {
    justify-content: center;
    align-items: center;
  }

  .bio h1 {
    font-size: 32px;
  }

  .bio h3 {
    font-size: 20px;
  }

  .bio p {
    display: none;
  }

  .skills i {
    font-size: 60px;
  }

  .portfolio {
    margin: 3% 0 0 0;
  }

  .contact {
    margin: 3% 0;
  }
}

@media screen and (max-width: 765px) {
  .home {
    background-color: var(--bg-main);
    padding: 5%;
    display: grid;
    grid-template-rows: 200px 200px 500px 200px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "bio"
      "skills"
      "portfolio"
      "contact";
  }

  .bio {
    margin: 3% 0;
  }
}
