:root {
  --bg-main: whitesmoke;
  --bg-second: rgb(38, 109, 214);
  --bg-second-hover: white;
  --bg-third: rgb(3, 136, 245);
  --bg-third-hover: rgba(190, 199, 207, 0.7);
}

.br-2 {
  border-radius: 2%;
}

.bs {
  box-shadow: 5px 5px 20px black;
}

.pointer {
  cursor: pointer;
}
